<section class="terms-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-center text-success">Login</h1>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-dark p-3 p-md-5">
  <div class="container">
    <%= form_tag sessions_path, {class:'form-signin'} do |form| %>
      <div class="card">
        <div class="card-body">
          <div class="form-label-group mb-2">
            <%= label_tag :email %>
            <%= text_field_tag :email, '', class:'form-control' %>
          </div>

          <div class="form-label-group mb-3">
            <%= label_tag :password %>
            <%= password_field_tag :password, '', class:'form-control' %>
          </div>

          <div class="form-label-group mb-3">
            <%= render_recaptcha('login') %>
          </div>

          <%= submit_tag "Login", class:'btn btn-lg btn-success w-100 mb-3' %>

          <a href="/users/register">Don't have an account? Register here.</a><br/>
          <a href="/users/forgot_password">Forgot your password? Click here.</a>       
        </div>
      </div>
    <% end %>  
  </div>
</section>