<section class="terms-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-center text-success">Login</h1>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-dark p-3 p-md-5">
  <div class="container">
    <%= form_tag sessions_path, {class: 'form-signin'} do |form| %>
      <div class="card">
        <div class="card-body">
          <div class="form-label-group mb-2">
            <%= label_tag :email, 'Email', class: 'required' %>
            <%= text_field_tag :email, '', class: 'form-control', required:true %>
          </div>

          <div class="form-label-group mb-3">
            <%= render 'layouts/public/password_field', name: 'password', label: 'Password' %>
          </div>

          <div class="form-label-group mb-3">
            <%= render_recaptcha('login', @show_recaptcha_v2) %>
          </div>

          <%= submit_tag "Login", class: 'btn btn-lg btn-success w-100 mb-3' %>

          <a href="/users/register">Don't have an account?</a><br/>
          <a href="/users/forgot_password">Forgot your password?</a>   

          <hr />
          <%# render 'layouts/global/square_ads' %>    
        </div>


      </div>
    <% end %>  
  </div>
</section>