<h1>Users</h1>

<%= form_for :users_search, { url: super_admin_users_path, method: :get } do |form| %>
  <div class="card">
    <div class="card-body">      

      <div class="form-label-group mb-2">
        <%= form.label :search, 'Search', class: 'required' %>
        <%= form.text_field :search, { class: 'form-control', required: false } %>
      </div>

      <%= form.submit "search!", class: 'btn btn-lg btn-success w-100 mb-3' %>

      <hr />

    </div>
  </div>
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Credits</th>
    <th>Newsletter?</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |u| %>
    <tr>
      <td><%= u['id'] %></td>
      <td><%= u['email'] %></td>
      <td><%= u['credits'] %></td>
      <td><%= u['newsletter'] %></td>
      <td><%= u['created_at'] %></td>
      <td><%= u['updated_at'] %></td>
      <td>
        <ul>
          <li><%= link_to 'Goto', '/admin' %></li>
          <li><%= link_to 'Custom order', "users/#{u['id']}/custom_order" %></li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>