<div class="col-md-4">
  <div class="card mb-4 shadow-sm hvr-grow">
    <div class="card-header"
          style="background:<%= project["open_source"]["logo_background"] %>">
        <% if project["open_source"]["logo_src"].present? %>
          <a href="/open-source/<%= project["site_name"] %>" class="d-flex h-100">
            <img class="d-block w-50 m-auto align-self-center"
                src="<%= project["open_source"]["logo_src"] %>" 
                alt="<%= project["site_name"] %>">
          </a>       
        <% else %>
          <a href="/open-source/<%= project["site_name"] %>" class="d-flex h-100 no-logo-link">
            <h3 class="text-<%= project["open_source"]["text_class"] %> w-50 m-auto align-self-center text-center text-decoration-none">
              <%= project["open_source"]["title"]&.upcase %>
            </h3>
          </a>          
        <% end %>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%=h truncate(project["open_source"]["description"], length: 500) %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a href="<%= project["open_source"]["repository_url"] %>"
              target="_blank"
              class="btn btn-sm btn-outline-secondary">
          <i class="fab fa-github"></i> View Code</a>
        </div>
        <% if project["stars"].present? %>
          <small class="text-muted">
            <i class="fa fa-star"></i> <%= project["stars"] %>
          </small>
        <% end %>
      </div>
    </div>
  </div>
</div>