<section>
  <h1 class="h3 mb-3 text-gray-800">Websites</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <%= render 'generic/search',
        form_id: :websites_search,
        search_path: super_admin_websites_path
      %>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Site name</th>
                  <th scope="col">User ID</th>
                  <th scope="col">Plan</th>
                  <th scope="col">Status</th>
                  <th scope="col">Locations</th>
                  <th scope="col">Created at</th>
                  <th scope="col" ></th>
                </tr>
              </thead>
              <tbody>
              <% @websites.each do |w| %>
                <tr>
                  <td><%= w['id'] %></td>
                  <td><%= w['site_name'] %></td>
                  <td><%= w['user_id'] %></td>
                  <td><%= w['account_type'] %></td>
                  <td><%= w['status'] %></td>
                  <td><%= w['locations']&.map { |l| l.dig('str_id') } %></td>
                  <td><%= w['created_at'] %></td>
                  <td>
                    <%= link_to 'View',
                      "/super_admin/websites/#{w['id']}/",
                      class: 'btn btn-sm btn-outline-dark w-100' %>

                    <% if w['account_type'] == 'open_source' %>
                      <%= link_to 'Open Source',
                        "/super_admin/websites/#{w['id']}/open_source",
                        class: 'btn btn-sm btn-outline-dark w-100' %>
                    <% end %>
                  </td>
                </tr>              
              <% end %>
              </tbody>
            </table>           
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'super_admin/shared/sidebar' %>
    </div>    
  </div>
</section>