
<section>
  <h1 class="h3 mb-2 text-gray-800">Open source</h1>
</section>
<section>
<%= form_for :open_source, { url: "/super_admin/websites/#{@website.id}/open_source" } do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="form-group mb-2">
            <div>
              <pre><%= JSON.pretty_generate @website.open_source %></pre>
            </div>

            <div class="form-label-group mb-2">
              <%= form.label :reason, 'Reason' %>
              <%= form.text_field :reason, { class: 'form-control' } %>
            </div>

            <div class="form-label-group mb-2">
              <%= form.label :status, 'Status', class: 'required' %>
              <%= form.select :status, @statuses, {},
                { class: 'form-control', required: true } %>
            </div>

            <%= form.submit "Save!", class: 'btn btn-lg btn-success w-100 mb-3' %>
          </div>
        </div>
      </div>    
    </div>
  </div>
<% end %>
</section>