<%= form_for :website,
{ url: "#{instance_settings_to(@instance_id)}plan", method: :patch } do |form| %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="form-group mb-2">

          <p class="alert alert-info">Notice: once you change your plan, it will be reloaded automatically.</p>

          <div class="form-label-group mb-2">
            <%= form.label :plan, 'Change your plan', class: 'required' %>
            <%= form.select :plan, @plans.map { |p| [p['name'], p['internal_id']] },
            { selected: @website.account_type }, { class: 'form-control', required: true } %>
          </div>

          <div class="form-label-group mb-2">
            <%= form.label :replicas, 'Replicas' %>
            <%= form.number_field :replicas, {
              min: 1, default: 1, class: 'form-control'
            } %>
          </div>

          <div class="row">
            <hr />
          </div>

          <div class="form-label-group mb-2">
            <%= form.check_box :blue_green_deployment %>
            <%= form.label :blue_green_deployment, 'With blue-green deployment - decrease downtime (Extra cost of 20% your plan price)' %>
          </div>

          <div id="instance-plan-opensource-field" class="<%= open_source_visibility_class(@website) %> mt-3">
            <h4><i class="fa fa-code-branch"></i> Open Source Request</h4>

            <hr/>

            <p>This is a open source project request, please make sure to fill all fields
            carefully as it will be reviewed, typically within 1 business day.
            You will receive an email once verified.</p>   
            <p><b>Important: </b> Instances with no activity (deployment) during 1 month will be stopped - this is an effort to avoid having inactive open source websites.</p>

            <% if @website.open_source.present? %>
              <div class="alert %>">
                <b>Status: <%= @website.open_source['status'] %></b>
              </div>
            <% end %>

            <div class="alert alert-info">
              <b>Make sure to add a link to <i>www.openode.io</i> available at the provided repository URL. Example: &#x3C;a href=&#x22;https://www.openode.io/&#x22;&#x3E;Cloud hosted on opeNode.io&#x3C;/a&#x3E;</b>

              <p>
                As we provide free hosting for open source projects, this is a good way to help us monetise our services.
              </p>
            </div>

            <div class="form-label-group mb-2">
              <%= form.label :open_source_title, 'Project Title', class: 'required' %>
              <%= form.text_field :open_source_title,
                class: "form-control", value: @website.open_source.dig('title') %>
            </div>

            <div class="form-label-group mb-2">
              <%= form.label :open_source_repository,
                'Repository (e.g.: github, gitlab, etc.)', class: 'required' %>
              <%= form.url_field :open_source_repository,
                class: "form-control", value: @website.open_source['repository_url'] %>
            </div>

            <div class="form-label-group mb-2">
              <%= form.label :open_source_description,
                'Project Description (Minimum 30 words describing your project)',
                class: 'required' %>
              <%= form.text_area :open_source_description,
                                  cols: 50,
                                  rows: 10,
                                  value: @website.open_source['description'],
                                  class: "form-control" %>
            </div>
          </div>

          <%= form.submit "Save", class: 'btn btn-lg btn-success w-100 mb-3' %>          
        </div>
      </div>
    </div>    
  </div>
</div>
<% end %>