<div class="card">
  <div class="card-body">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
      <a class="nav-link <%= params[:action].match(/plan|index/) ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}plan" %>"
        aria-selected="true"><i class="fa fa-credit-card"></i> Change Plan</a>

      <a class="nav-link <%= params[:action].match(/address/) ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}address" %>"
        aria-selected="true"><i class="fa fa-id-card"></i> Address - subdomain/custom domain</a>

      <a class="nav-link <%= params[:action].match(/location/) ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}location" %>"
        aria-selected="true">
        <i class="fa fa-globe"></i>
        Location
      </a>

      <% if @website.domain_type == "custom_domain" %>
        <a class="nav-link <%= params[:action].include?('aliases') ? 'active' : '' %>"
          href="<%= "#{instance_settings_to(@instance_id)}dns_and_aliases" %>"
          aria-controls="v-pills-activity"
          aria-selected="false"><i class="fa fa-globe-americas"></i> DNS and Aliases</a>
      
        <a class="nav-link <%= params[:action].include?('ssl') ? 'active' : '' %>"
          href="<%= "#{instance_settings_to(@instance_id)}ssl" %>"
          aria-controls="v-pills-console"
          aria-selected="false"><i class="fa fa-shield-alt"></i> SSL</a>
      <% end %>

      <a class="nav-link <%= params[:action].include?('scheduler') ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}scheduler" %>"
        aria-controls="v-pills-console"
        aria-selected="false"><i class="fa fa-clock"></i> Scheduler</a>    

      <a class="nav-link <%= params[:action].include?('env') ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}env" %>"
        aria-controls="v-pills-console"
        aria-selected="false"><i class="fa fa-cogs"></i> Environment Variables</a>    

      <a class="nav-link <%= params[:action].include?('persistence') ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}persistence" %>"
        aria-controls="v-pills-console"
        aria-selected="false"><i class="fa fa-database"></i> Persistence</a>    

      <a class="nav-link <%= params[:action].include?('misc') ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}misc" %>"
        aria-controls="v-pills-console"
        aria-selected="false"><i class="fa fa-server"></i> Misc</a>                              

      <a class="nav-link <%= params[:action].include?('alerts') ? 'active' : '' %>"
        href="<%= "#{instance_settings_to(@instance_id)}alerts" %>"
        aria-controls="v-pills-console"
        aria-selected="false"><i class="fa fa-exclamation"></i> Alerts
      </a>

      <hr />
      <span><strong>ADDONS (<%= @addons.count %>)</strong></span>
      <hr />
      
      <% @addons.each do |addon| %>
        <a class="nav-link <%= params[:addon_id]&.include?(addon.id) ? 'active' : '' %>"
          href="<%= "#{instance_settings_to(@instance_id)}addons/#{addon.id}" %>"
          aria-controls="v-pills-console"
          aria-selected="false"> 
          <%= addon.name %>
        </a>
      <% end %>

      <a class="btn btn-sm btn-outline-dark" href="<%= instance_settings_to(@instance_id) %>addons/new">+add</a>
    </div>
  </div>
</div>
