<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">DNS And Aliases</h1>
</section>

<section>
  <div class="row">
    <div class="col-lg-9">
    
      <div class="card">
        <div class="card-body">
          <div class="mb-3 bd-callout bd-callout-warning">    
            <h5>Use the following <b>DNS records</b></h5>
            <b>CNAME Record (recommended)</b>: COMING SOON<br />
            <b>A Record</b>: COMING SOON
          </div>

          <hr />
          <br />

          <%= form_for :alias,
            { url: "#{instance_settings_to(@instance_id)}aliases", method: :post } do |form| %>
            <h5><i class="fa fa-plus"></i> New Alias (subdomain)</h5>
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                <div class="form-group mb-2">                                
                  <div class="form-label-group mb-2">                      
                    <%= form.text_field :alias, placeholder: 'name.of.alias', class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-12">
              <%= form.submit 'Save',
                    class: 'btn btn-outline-success w-100',
                    data: { confirm: "Are you sure?" } %>             
              </div>
            </div>
          <% end %>

          <hr class="mt-4 mb-4"/>

          <h5><i class="fa fa-list"></i> Aliases List</h5>  
          <div class="table-responsive">
            <table class="table table-sm table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Alias</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>      
              <% @aliases.each do |a| %>
                <tr>
                  <td><%= a %></td>
                  <td>
                    <div class="d-flex">
                      <%= link_to 'Destroy',
                            "#{instance_settings_to(@instance_id)}aliases/#{Base64.encode64(a)}",
                            class: 'flex-fill ml-2 btn btn-sm btn-outline-critical',
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>           
          </div>          
        </div>
      </div>
    
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instance_settings/sidebar' %>
    </div>    
  </div>
</section>