<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Environment Variables</h1>
</section>
<section>
  <div class="row">

    <p>
      Environment variables are loaded in your container instance and accessible from your application. See the <a href="/docs/platform/env_vars.md">doc</a>
    </p>

    <div class="col-lg-9">
      <%= form_for :website,
        { url: "#{instance_settings_to(@instance_id)}env", method: :patch } do |form| %>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group mb-2">

                  <% @env.keys.each do |variable_name| %>
                    <div class="row">
                      <div class="col-sm-6">
                        <%= form.text_field "variables[#{variable_name}][variable]",
                                            value: variable_name,
                                            class: 'form-control' %>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group show_hide_password">   
                          <%= form.password_field "variables[#{variable_name}][value]",
                                              value: @env[variable_name],
                                              class: 'form-control' %>
                          <div class="input-group-append">
                            <a class="input-group-text password-toggler" href="">
                              <i class="fa password-toggler fa-eye-slash" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  <% end %>

                  <div class="row">
                    <hr />
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <%= form.text_field "new_variable",
                                          class: 'form-control',
                                          placeholder: 'New variable' %>
                    </div>

                    <div class="col-sm-6">
                      <div class="input-group show_hide_password">  
                        <%= form.text_field "new_value",
                                            class: 'form-control',
                                            placeholder: 'New value' %>

                        <div class="input-group-append">
                          <a class="input-group-text password-toggler" href="">
                            <i class="fa password-toggler fa-eye-slash" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <hr />
                  </div>

                  <%= form.submit "Save", class: 'btn btn-lg btn-success w-100 mb-3' %>          
                </div>
              </div>
            </div>    
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instance_settings/sidebar' %>
    </div>    
  </div>
</section>