<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Environment Variables</h1>
</section>
<section>
  <div class="row">

    <p>
      Environment variables are loaded in your container instance and accessible from your application.
    </p>

    <p>
      We have multiple ways to set environment variables. This will set <b>CLI/API environment variables</b>. See the <a href="/docs/platform/env_vars.md">doc</a> for more details.
    </p>

    <div class="col-lg-9">
      
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group mb-2">

                  <% @env.keys.each do |variable_name| %>
                    <%= form_for :website,
                      { url: "#{instance_settings_to(@instance_id)}env", method: :patch } do |form| %>
                      <div class="row">

                        <div class="col-sm-5">
                          <%= form.text_field "variables[#{variable_name}][variable]",
                                              value: variable_name,
                                              class: 'form-control' %>
                        </div>

                        <div class="col-sm-5">
                          <div class="input-group show_hide_password">   
                            <%= form.text_field "variables[#{variable_name}][value]",
                                                value: "",
                                                placeholder: "hidden",
                                                class: 'form-control' %>
                            
                          </div>

                        </div>

                        <div class="col-sm-2" align="center">
                          <%= form.submit "Update", class: 'btn btn-success' %>
                        
                          <%= link_to 'Delete', "#{instance_settings_to(@instance_id)}env/#{variable_name}",
                            class: 'btn btn-danger ',
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>    
                        </div>
                        
                      </div>
                      <div class="row"><p></p></div>
                    <% end %>
                  <% end %>

                  <div class="row">
                    <hr />
                  </div>

                  <%= form_for :website,
                      { url: "#{instance_settings_to(@instance_id)}env", method: :patch } do |form| %>
                    <div class="row">
                      <div class="col-sm-5">
                        <%= form.text_field "new_variable",
                                            class: 'form-control',
                                            placeholder: 'New variable' %>
                      </div>

                      <div class="col-sm-5">
                        <div class="input-group show_hide_password">  
                          <%= form.text_field "new_value",
                                              class: 'form-control',
                                              placeholder: 'New value' %>

                        </div>
                      </div>

                      <div class="col-sm-2" align="center">
                        <%= form.submit "Create", class: 'btn btn-success' %>
                      </div>
                    </div>
                  <% end %>

                  <div class="row">
                    <hr />
                  </div>

                            
                </div>
              </div>
            </div>    
          </div>
        </div>
      
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instance_settings/sidebar' %>
    </div>    
  </div>
</section>