<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Support</h1>
</section>
<section>
  <%= form_for :support, {url: support_path, class: 'form-signin'} do |form| %>
    <%= form.hidden_field :email, value: @account['email'] %>
    <div class="card">
      <div class="card-body">      
        <div class="form-label-group mb-2">
          <p>
            For technical support, you can read our <a href="/docs/introduction/index">official docs</a> or send us a message.
          </p>

          <p>
            Before sending a support request, please consider looking at the links below. If your issue is really specific to your instance, contact us via the support form below.
          </p>
        </div>
        
        <hr/>

        <ul>
          <li>
            <a href="/docs/introduction/index">Official Documentation</a>
          </li>

          <li>
            <a href="https://github.com/openode-io/kb">Knowledge Base (Community based)</a>
          </li>

          <li>
            <a href="https://www.reddit.com/r/openode">
              Reddit Community
            </a>
          </li>

          <li>
            Consider looking at our main projects for <b>feature requests, known bugs</b>, etc.
            <ul>
              <li>
                <a href="https://github.com/openode-io/openode-cli/discussions/">
                  Command Line Interface (CLI): openode-cli
                </a>
              </li>

              <li>
                <a href="https://github.com/openode-io/openode-www/discussions/">
                  UI, Frontend, Administration opeNode website: openode-www
                </a>
              </li>

              <li>
                <a href="https://github.com/openode-io/openode-api/discussions/">
                  Core functionnalities, backend, deployment system, etc.: openode-api
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <hr/>

        <div class="form-group mb-2">
          <%= form.label :website, 'Related to website' %>
          <br />
          <%= form.select :site_name, @instances_list, {}, { class: 'form-control mb-3' } %>
        </div>

        <div class="form-label-group mb-2">
          <%= form.label :message, 'How can we help you?', class: 'required' %>
          <%= form.text_area :message, { class: 'form-control', rows:5, required:true } %>
        </div>

        <!--
        <div class="form-label-group mb-3">
          <%# render_recaptcha('support', @show_recaptcha_v2) %>
        </div>
      -->

        <%= form.submit "Send!", class: 'btn btn-lg btn-success w-100 mb-3' %>
      </div>
    </div>
  <% end %>  
</section>
