<a class="nav-link dropdown-toggle" 
   href="#" id="alertsDropdown"
   role="button"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="false">
  <i class="fas fa-bell fa-fw text-light"></i>

  <% if notifications['nb_unviewed'].present? && notifications['nb_unviewed'] > 0 %>
    <span class="badge badge-danger badge-counter">
      <%= notifications['nb_unviewed'] %>
    </span>
  <% end %>
</a>
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
     aria-labelledby="alertsDropdown">
  <h6 class="dropdown-header bg-dark border-dark">
    Alerts Center
  </h6>
  <% notifications['notifications'].each do |notification| %>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="mr-3">
        <div class="icon-circle bg-<%= notification['level'] %>">
          <i class="fas fa-<%= notification['icon'] %> text-white"></i>
        </div>
      </div>
      <div>
        <div class="small text-gray-500">
          <%= time_ago_in_words notification['created_at'] %> ago
        </div>
        <span class="font-weight-<%= notification['status'] == 'read' ? 'bold' : 'light' %>">
          <%= notification['content'] %>
        </span>
      </div>
    </a>
  <% end %>
  <a class="dropdown-item text-center small text-gray-500"
    href="/admin/notifications">
    Show All Alerts
  </a>
</div>