<ul id="accordionSidebar"
    class="navbar-nav bg-gradient-dark text-success sidebar sidebar-dark accordion toggled">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-icon">
        <img src="/images/logo/dark_v2.svg" height="36" alt="opeNode"/>
    </div>
    <div class="sidebar-brand-text mx-3">opeNode</div>
  </a>
  <hr class="sidebar-divider my-0">
  <% if @current_user[:user_type] == 'admin' %>
    <li class="nav-item">
      <a class="nav-link" href="/super_admin/">
        <i class="fas fa-fw fa-user fa-2x"></i>
        <span>Super admin</span></a>
    </li>
  <% end %>
  
  <li class="nav-item <%= active_admin_item_class('instances') %>">
    <a class="nav-link" href="/admin/instances">
      <i class="fas fa-fw fa-server fa-2x"></i>
      <span>Instances</span>
    </a>
  </li>      
  <li class="nav-item <%= active_admin_item_class('billing') %>">
    <a class="nav-link" href="/admin/billing/pay" data-turbolinks="false">
      <i class="fas fa-fw fa-money-check-alt fa-2x"></i>
      <span>Billing</span>
    </a>
  </li>
  <li class="nav-item <%= active_admin_item_class('account') %>">
    <a class="nav-link" href="/admin/account">
      <i class="fas fa-fw fa-user fa-2x"></i>
      <span>Account</span></a>
  </li>

  <li class="nav-item <%= active_admin_item_class('support') %>">
    <a class="nav-link" href="/admin/support">
      <i class="fas fa-fw fa-headset fa-2x"></i>
      <span>Support</span></a>
  </li>

  <li class="nav-item <%= active_admin_item_class('invite') %>">
    <a class="nav-link" href="/admin/invite">
      <i class="fas fa-fw fa-gift fa-2x"></i>
      <span>Invite</span></a>
  </li>
  
  <div class="text-center d-none">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
