<section class="terms-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-center text-success">Register</h1>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-dark p-3 p-md-5">
  <div class="container">
    <%= form_for :account, {url:users_path, html: {class: 'form-signin'}} do |form| %>
      <div class="card">
        <div class="card-body">
          <div class="form-label-group mb-2">
            <%= form.label :email, class: 'required' %>
            <%= form.text_field :email, {class: 'form-control', required:true} %>
          </div>

          <div class="form-label-group mb-3">
            <%= render 'layouts/public/password_field', name: 'account[password]', label: 'Password' %>
          </div>

          <div class="form-label-group mb-3">
            <%= render 'layouts/public/password_field', name: 'account[password_confirmation]', label: 'Confirm your password' %>
          </div>  

          <div class="form-label-group mb-3">            
            <%= form.check_box :newsletter, { checked: true }, 1, 0 %>
            <%= form.label :newsletter, 'Do you want to receive our newsletter?' %>
          </div>    

          <div class="form-label-group mb-3">
            <%= render_recaptcha('register', @show_recaptcha_v2) %>
          </div>

          <%= form.submit "Register", class: 'btn btn-lg btn-success w-100 mb-3' %>

          <a href="/login">Have an account? Login here.</a><br/>             
        </div>
      </div>
    <% end %>  
  </div>
</section>