<section class="cli-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto border-bottom">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-left text-success">Documentation</h1>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-dark p-3 p-md-5 border-top">
  <div class="container text-white">
    <div class="row">
        <div class="col-3 collapse show d-md-flex bg-light pt-2 pl-0" id="docs-sidebar">
          <div class="card bg-secondary">
            <div class="card-body text-white">
              <ul class="nav flex-column flex-nowrap overflow-hidden">                
                <% directory_hash("#{Rails.root}/public/documentation")[:children].reverse_each do |item| %>
                  <li class="nav-item">
                    <% if item[:children].present? %>
                      <a class="nav-link collapsed text-truncate text-white" href="#doc-<%= item[:text].downcase %>" data-toggle="collapse" data-target="#doc-<%= item[:text].downcase %>">
                        <span class="d-none d-sm-inline">&#8226; <%= item[:text].titleize  %></span>
                      </a>
                      <div class="collapse <%= @section.downcase == item[:text].downcase ? 'show' : '' %>" id="doc-<%= item[:text].downcase  %>" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">                      
                          <% item[:children].reverse_each do |subitem| %>                        
                            <li class="nav-item">
                              <a class="nav-link py-0 text-white <%= (@title.downcase == subitem[:text].downcase && @section.downcase == item[:text].downcase) ? 'active' : '' %>" href="<%= "/docs/#{item[:text].downcase}/#{subitem[:text].downcase}" %>">&#8226; <span><%= subitem[:text].titleize %></span></a>
                            </li>
                          <% end %>
                        </ul>
                      </div>                      
                    <% else %>
                      <a class="nav-link text-truncate" href="/docs/<%= item[:text].downcase %>">
                        <span class="d-none d-sm-inline"><%= item[:text].titleize %></span>
                      </a>
                    <% end %>
                  </li>                
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <div class="col pt-2">
        <%= raw @result %>
      </div>
    </div>
  </div>
</section>