<section class="public-support-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-center text-success">Contact Us</h1>
  </div>
</section>
<section class="pt-8 pt-md-11 p-3 p-md-5">
  <div class="container">
    <p>
      Please make sure to <%= link_to 'login', '/login' %> for support.
    </p>
    <!-- bg-dark 
    <%= form_for :support, {url: support_path, class: 'form-signin'} do |form| %>
      <div class="card">
        <div class="card-body">      
          <div class="form-label-group mb-2">
            Thanks for your interest in opeNode!
            You can read our <a href="/docs/introduction/index">docs</a> or send us a message.
          </div>
          
          <hr/>

          <div class="form-label-group mb-2">
            <%= form.label :email, 'Your email', class: 'required' %>
            <%= form.text_field :email, { class: 'form-control', required:true} %>
          </div>

          <div class="form-label-group mb-2">
            <%= form.label :message, 'How can we help you?', class: 'required' %>
            <%= form.text_area :message, { class: 'form-control', rows:5, required:true } %>
          </div>

          <div class="form-label-group mb-3">
            <%= render_recaptcha('support', @show_recaptcha_v2) %>
          </div>

          <%= form.submit "Send!", class: 'btn btn-lg btn-success w-100 mb-3' %>
        </div>
      </div>
    <% end %> 
    --> 
  </div>
</section>