
<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Deploy</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <%= form_for :website,
        { url: "#{instance_access_to(@instance_id)}deploy", method: :post } do |form| %>
        <div class="card">
          <div class="card-body">
              <p>You can deploy with our CLI or using your existing git repository.</p>
              <hr />

            <div class="row">
              <div class="col-sm" style="border-right: 1px dashed #333;">
                <h2>CLI</h2>
                <p>Our CLI requires npm, see the
                  <a href="/docs/installation/index.md#doc-installation">installation instructions</a>.
                </p>

                <code>npm install -g openode</code>

                <p></p>
                <p>
                First, just go to your project directory in command line:
                </p>

                <code>cd [your project directory]</code>
                    
                <p></p>
                <p>
                And then just type to deploy using the files in the current directory:
                </p>

                <code>openode deploy</code>
              </div>
              <div class="col-sm">
                <h2>git</h2>
                <div class="form-group mb-2">
                  <p>The repository will be cloned and deployed. Note: if your repository does not contain a Dockerfile, our system will generate one automatically.</p>


                  <% if @website_summary.dig('repository_url') %>
                    <%= form.label :repotory_url, 'Repository URL', class: 'required' %>
                    <div class="input-group show_hide_password">   
                      <%= form.password_field :repository_url,
                                          value: @website_summary.dig('repository_url'),
                                          class: 'form-control' %>
                      <div class="input-group-append">
                        <a class="input-group-text password-toggler" href="">
                          <i class="fa password-toggler fa-eye-slash" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                      <br />
                  <% else %>
                    <div class="form-label-group mb-2">
                      <%= form.label :repository_url, 'Repository URL', class: 'required' %>
                      <%= form.text_field :repository_url,
                        placeholder: "https://github.com/myaccount/myproject.git",
                        value: @website_summary.dig('repository_url'),
                        class: 'form-control' %>
                    </div>
                  <% end %>

                  <%= form.submit "deploy", class: 'btn btn-lg btn-success w-100 mb-3' %>          

                  <p><br /><br /></p>
                  <hr />
                  <p>Note that for a private repository you can specify your 
                  username:password or username:access_token, for example:</p>

                  <code>https://username:access_token@github.com/myaccount/myproject.git</code>

                  If you are using github you can create an access token, see this <a href="https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token">documentation</a>.
                </div>
              </div>
            </div>    
          </div>
        </div>
        <% end %>
    </div>

    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div>
  </div> 
</section>
