<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">
    Deployments
  </h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div id="admin-instance-deployments">
        <section>
          <% if @deployments == [] %>
            <div><b>No deployment has been done so far!</b></div>
          <% end %>

          <div class='row'>
            <% @deployments.each do |deployment| %>
              <div class='col-lg-12 col-sm-6 mb-2'>
                <div class="card card-instance-details">
                  <div class='card-body'>
                    <div class="row">
                      <div class='col-lg-4 col-sm-4'>
                        <i class="fa fa-globe-americas"></i> 
                        <%= link_to deployment['type'],
                                    admin_instance_access_deployment_path(deployment_id: deployment['id']) %>
                      </div>
                      <div class='col-lg-6 col-sm-6'>
                        <span class="badge badge-<%= deployment_status_to_level(deployment['status']) %>">
                          <%= deployment['status'] %>
                        </span>
                        
                      </div>
                      <div class='col-lg-2 col-sm-2text-right'>
                        <i class="fa fa-clock"></i>
                        <%= time_ago_in_words(deployment['created_at']) %> ago

                        <% if deployment['status'] == 'success' &&
                              deployment&.dig('obj', 'image_name_tag') %>
                          <div>
                            <%= link_to 'Rollback',
                                        "#{admin_instance_access_rollback_deployment_path(deployment_id: deployment['id'])}",
                              class: 'btn btn-sm btn-outline-dark',
                              method: :post,
                              data: { confirm: "Are you sure?" } %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div>    
  </div>
</section>