<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">
    Deployments <%= render 'generic/doc_link', doc_link: @doc_link %>
  </h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div id="admin-instance-deployments">
        <section>

          <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            This page provides preliminary information on deployments and will soon
            be enriched (under construction).
          </div>

          <div class='row'>
            <% @deployments.each do |deployment| %>
              <div class='col-lg-12 col-sm-6 mb-2'>
                <div class="card card-instance-details">
                  <div class='card-body'>
                    <div class="row">
                      <div class='col-lg-4 col-sm-4'>
                        <i class="fa fa-globe-americas"></i> <%= deployment['type'] %>
                      </div>
                      <div class='col-lg-6 col-sm-6'>
                        <span class="badge badge-<%= deployment_status_to_level(deployment['status']) %>">
                          <%= deployment['status'] %>
                        </span>
                      </div>
                      <div class='col-lg-2 col-sm-2text-right'>
                        <i class="fa fa-clock"></i>
                        <%= time_ago_in_words(deployment['created_at']) %> ago
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div>    
  </div>
</section>