<section>
  <h1 class="h3 mb-2 text-gray-800">Instance Access</h1>
</section>

<section>

  <p><%= link_to 'Activity stream', "#{instance_access_to(@instance_id)}activity_stream" %></p>
  <p><%= link_to 'Deployments', "#{instance_access_to(@instance_id)}deployments" %></p>
  <p><%= link_to 'Logs', "#{instance_access_to(@instance_id)}logs" %></p>
  <p><%= link_to 'Console', "#{instance_access_to(@instance_id)}console" %></p>
  <p><%= link_to 'Stats', "#{instance_access_to(@instance_id)}stats" %></p>

</section>
