<div class="card">
  <div class="card-body">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
      <a class="nav-link <%= params[:action] == "deploy" ? 'active' : '' %>"
        href="<%= admin_instance_access_deploy_path(id:instance_id) %>"
        aria-selected="true"><i class="fa fa-server"></i> Deploy</a>

      <a class="nav-link <%= params[:action].match(/deployments|access/) ? 'active' : '' %>"
        href="<%= admin_instance_access_deployments_path(id:instance_id) %>"
        aria-selected="true"><i class="fa fa-globe-americas"></i> Deployments</a>

      <a class="nav-link <%= params[:action].include?('snapshots') ? 'active' : '' %>"
        href="<%= admin_instance_access_snapshots_path(id: instance_id) %>"
        aria-controls="v-pills-activity"
        aria-selected="false"><i class="fa fa-paw"></i> Snapshots</a>

      <a class="nav-link <%= params[:action].include?('activity_stream') ? 'active' : '' %>"
        href="<%= admin_instance_access_activity_stream_path(id:instance_id) %>"
        aria-controls="v-pills-activity"
        aria-selected="false"><i class="fa fa-history"></i> Activity Stream</a>

      <a class="nav-link <%= params[:action].include?('logs') ? 'active' : '' %>"
        href="<%= admin_instance_access_logs_path(id: instance_id) %>"
        aria-controls="v-pills-activity"
        aria-selected="false">
        <i class="fa fa-book"></i>
         Logs
       </a>

      <% unless @website.version == 'v3' %>
        <a class="nav-link <%= params[:action].include?('resources_usage') ? 'active' : '' %>"
          href="<%= admin_instance_access_resources_usage_path(id:instance_id) %>"
          aria-controls="v-pills-activity"
          aria-selected="false"><i class="fa fa-list"></i> Resources Usage</a>
      <% end %>

      <a class="nav-link <%= params[:action].include?('status') ? 'active' : '' %>"
        href="<%= admin_instance_access_status_path(id:instance_id) %>"
        aria-controls="v-pills-activity"
        aria-selected="false"><i class="fa fa-list"></i> Status</a>                

      <% if @website.status == 'online' && @website.version != 'v3' %>
        <a class="nav-link <%= params[:action].include?('console') ? 'active' : '' %>"
          href="<%= admin_instance_access_console_path(id:instance_id) %>"
          aria-controls="v-pills-console"
          aria-selected="false"
          data-turbolinks="false"><i class="fa fa-terminal"></i> Console</a>        
      <% end %>
    </div>
  </div>
</div>
