<div class="card">
  <div class="card-body">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
      <a class="nav-link <%= params[:action].include?('api') ? 'active' : '' %>"
        href="<%= "#{account_to}api_access" %>"
        aria-selected="true"><i class="fa fa-code"></i> API & CLI</a>
      <a class="nav-link <%= params[:action].include?('notification') ? 'active' : '' %>"
        href="<%= "#{account_to}notifications" %>"
        aria-controls="v-pills-activity"
        aria-selected="false"><i class="fa fa-bell"></i> Notifications</a>                
      <a class="nav-link <%= params[:action].include?('profile') ? 'active' : '' %>"
        href="<%= "#{account_to}profile"%>"
        aria-controls="v-pills-console"
        aria-selected="false"><i class="fa fa-user"></i> Profile</a>      
    </div>
  </div>
</div>
