<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Notifications and Newsletter Settings</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
    <%= form_for :user, {
        url: "/admin/account/notifications_and_newsletter",
        method: :patch,
        html: { class: 'form-vertical' }
      } do |form| %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="form-group mb-2">
                <%= form.label :nb_credits_threshold_notification, 'Low credits notification (number of credits, $1 = 100 credits)', class: 'required' %>
                <%= form.number_field :nb_credits_threshold_notification, { class: 'form-control', value: @account['nb_credits_threshold_notification'] } %>
              </div>

              <div class="form-group mb-2">
                <%= form.check_box :newsletter, { checked: @account['newsletter'] == 1 }, 1, 0 %>
                <%= form.label :newsletter, 'Receive newsletter?', class: 'required' %>
              </div>

              <%= form.submit "Save!", class: 'btn btn-lg btn-success w-100 mb-3' %>
            </div>
          </div>    
        </div>
      </div>
    <% end %>      
    </div>
    <div class="col-lg-3">
      <%= render 'admin/account/sidebar' %>
    </div>    
  </div>
</section>