<%= render 'layouts/global/gtracking' %>

<div id="wrapper">
  <%= render 'layouts/admin/sidebar' %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%= render 'layouts/admin/navbar' %>
      <div class="container-fluid h-85">
        <% flash.each do |key, value| %>
          <div class="<%= flash_bootstrap(key) %> m-0 border-0 rounded-0 mb-3" role="alert">
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>        
          </div>
        <% end %>

        <% if @tips.present? %> 
          <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> <%= @tips.html_safe %>
          </div>
        <% end %>

        <h1><%= @website&.site_name %></h1>
        <% if @website_summary.present? %>
          <div>
            <span>
              <strong>
                <a href="http://<%= @website_summary.dig('hostname') %>">
                  <%= @website_summary.dig('hostname') %>
                </a>
              </strong>
            </span>
          </div>
        <% end %>

        <hr />

        <%= render_breadcrumbs :separator => ' / ' %>

        <div class="d-flex align-items-start flex-column h-100">
          <div class="w-100 mb-3">
            <%= yield %>
          </div>
          <div class="mt-auto">
            <%# render 'layouts/global/carbonads' %>
            <%= render 'layouts/global/horizontal_ads' %>
          </div>
        </div>

      </div>
    </div>
    <%= render 'layouts/admin/footer' %>
  </div>
</div>