<%= render 'layouts/global/gtracking' %>
<%= render 'layouts/public/navbar' %>

<% flash.each do |key, value| %>
  <div class="<%= flash_bootstrap(key) %> m-0 border-0 rounded-0" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>        
  </div>
<% end %>
<%= yield %>

<%= render 'layouts/public/footer' %>

<%# render 'layouts/global/horizontal_ads' %>