<!DOCTYPE html>
<html>
  <head>
    <title>OpenodeWww</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      Routes: 

      <a href="/">Home</a>
      <a href="/pricing">
        Cloud Hosting
      </a>

      <a href="/pricing-private-cloud">
        Private Cloud Hosting
      </a>

      <a href="/about">
        About
      </a>

      <a href="/news">
        News
      </a>

      <a href="/blog">
        Blog home
      </a>

      <a href="/blog/post/what1234">
        Blog post
      </a>

      <a href="/locations">
        Locations
      </a>

      <a href="/login">
        Login
      </a>

      <a href="/openode-cli">
        openode cli
      </a>

      <a href="/faq">
        faq
      </a>

      <a href="/docs">
        docs
      </a>

      <a href="/doc/hello">
        doc
      </a>

      <a href="/support">
        support
      </a>

      <a href="/terms">
        terms
      </a>

      <a href="/privacy">
        privacy
      </a>

    </div>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
